@use 'sass:color';
@use './global.scss';

/* 
* Reset Styles
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: global.$font-family;
  font-size: global.$font-size-base;
  line-height: 1.5;
  color: global.$text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: global.$background-color;
  overflow: hidden;
  user-select: none; // Prevent text selection in desktop app
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: global.$font-size-base;
  margin: 0;
  padding: global.$spacing-lg;
  padding-bottom: 0;
}

p {
  margin-bottom: global.$spacing-sm;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: global.$secondary-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.multiline-tooltip {
  white-space: pre-line;
}

.wide-tooltip .mat-mdc-tooltip-surface {
  max-width: 300px;
}

button.mat-mdc-mini-fab {
  width: 32px;
  height: 32px;

  &:not(:first-child) {
    margin-left: global.$spacing-sm;
  }

  img {
    width: 20px;
    height: 20px;
  }
}

textarea:focus {
  outline: none;
}
