<div class="container">
  <div class="character-container">
    <div class="top-row">
      <div class="character-name" id="character-name">{{ char.name }}</div>
      <div class="actions">
        <button class="btn btn-icon" (click)="open()">
          <img src="assets/folder.png" />
        </button>
      </div>
    </div>

    <div>Splitterpunkte:</div>
    <points-table class="splinters-table" [char]="char" mode="splinters" />

    <div class="tracker">
      <div class="tracker-title">
        <div>Lebenspunkte ({{ char.free_lp }}/{{ char.max_lp }})</div>
        <button class="btn btn-icon" (click)="longRest()">
          <img src="assets/sleep.png" />
        </button>
      </div>
      <points-table [char]="char" mode="lp" />
    </div>

    <div class="tracker">
      <div class="tracker-title">
        <div>Fokuspunkte ({{ char.free_focus }}/{{ char.max_focus }})</div>
        <button class="btn btn-icon" (click)="shortRest()">
          <img src="assets/rest.png" />
        </button>
      </div>
      <points-table [char]="char" mode="focus" />
    </div>
  </div>
  <div class="side-container">
    <div class="top-row">
      <div class="actions-left">
        <button class="btn btn-icon" (click)="undo()">
          <!-- <img src="assets/reset.png" /> -->
          &lt;-
        </button>
        <button class="btn btn-icon" (click)="redo()">
          -&gt;
          <!-- <img src="assets/reset.png" /> -->
        </button>
      </div>
      <div class="action-right">
        <button class="btn btn-icon" (click)="reset()">
          <img src="assets/reset.png" />
        </button>
      </div>
    </div>
    <history />
    <textarea
      #note
      [style.height]="noteHeight()"
      (change)="char.note = note.value"
      >{{ char.note }}</textarea
    >
  </div>
</div>
<footer>
  <a (click)="showCredits()">© Credits</a>
</footer>
