@use 'sass:color';
@use '../global.scss';

.container {
  @include global.flex-container(row);
  width: fit-content;
  margin: 0 auto;
  background-color: global.$container-bg;
  padding: global.$spacing-lg;
  border-radius: global.$border-radius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .character-container {
    @include global.flex-container(column);
    padding-right: global.$spacing-md;
    border-right: 1px solid global.$border-color;
  }

  .side-container {
    padding-left: global.$spacing-md;
  }
}

.top-row {
  margin-bottom: global.$spacing-md;
  padding-bottom: global.$spacing-md;
  border-bottom: 1px solid global.$border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-name {
  font-size: 1.4em;
  font-weight: bold;
  color: global.$secondary-color;
}

.character-details {
  margin-top: global.$spacing-xs;
  font-size: global.$font-size-small;
  color: global.$text-muted;
}

.tracker {
  padding: global.$spacing-md;
  border-radius: global.$spacing-xs;
  background-color: global.$background-color;

  &:not(:last-child) {
    margin-bottom: global.$spacing-lg;
  }
}

.tracker-title {
  font-weight: bold;
  margin-bottom: global.$spacing-sm;
  display: flex;
  color: global.$primary-color;
  border-bottom: 1px solid global.$border-light;
  padding-bottom: global.$spacing-xs;
  align-items: center;
  justify-content: space-between;
}

.tracker-info {
  font-size: global.$font-size-small;
  color: global.$text-muted;
  margin-bottom: global.$spacing-sm;
}

.splinters-table {
  flex-direction: row;
  align-items: center;
  margin-bottom: global.$spacing-sm;
}

history {
  margin-bottom: global.$spacing-lg;
}

textarea {
  display: block;
  resize: none;
  width: -webkit-fill-available;
  padding: 2px 5px;
}

footer {
  padding: 5px 10px;
  width: 100%;
  text-align: center;

  a {
    color: darkgray;
  }
}
