@use 'sass:color';
@use '../../../global.scss';

:host {
  display: block;
  background-color: global.$background-color;
  // border-radius: global.$spacing-xs;
  padding: global.$spacing-xs global.$spacing-sm;
  // border: 1px solid global.$border-color;
  overflow-y: scroll;
}

.current {
  font-weight: bold;
}

.future {
  color: global.$text-muted;
}
