@use 'sass:color';
@use 'global' as *;

:host {
  display: block;
  background-color: $background-color;
  // border-radius: $spacing-xs;
  padding: $spacing-xs $spacing-sm;
  // border: 1px solid $border-color;
  overflow-y: scroll;
}

.current {
  font-weight: bold;
}

.future {
  color: $text-muted;
}
