@use 'sass:color';
@use '../../../global.scss';
@use '@angular/material' as mat;

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.container {
  @include global.flex-container(row);
  width: 100%;
  height: 100%;
  background-color: global.$container-bg;
  padding: global.$spacing-lg;
  border-radius: global.$border-radius;

  .character-container,
  .middle-container {
    @include global.flex-container(column);
    padding-right: global.$spacing-md;
  }

  .middle-container {
    flex-basis: content;

    @include mat.fab-overrides(
      (
        small-container-color: white,
        small-hover-state-layer-opacity: 0,
        small-focus-state-layer-opacity: 0,
        small-foreground-color: global.$primary-color,
      )
    );

    .card {
      overflow-x: hidden;
      overflow-y: auto;
    }

    .skill button {
      font-weight: bold;
    }
  }

  .side-container,
  .middle-container {
    padding-left: global.$spacing-md;
    border-left: 1px solid global.$border-color;
    width: 100%;
    display: flex;
    flex-direction: column;

    mat-button-toggle-group {
      border-radius: 10px 10px 0 0;
      border-bottom: 0;

      ::ng-deep
        .mat-button-toggle-appearance-standard
        .mat-button-toggle-label-content {
        padding: 0 8px;
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 4px;
  column-gap: 15px;
  align-items: center;
}

.top-row {
  margin-bottom: global.$spacing-md;
  padding-bottom: global.$spacing-md;
  border-bottom: 1px solid global.$border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-name {
  font-size: 1.4em;
  font-weight: bold;
  color: global.$secondary-color;
}

.character-details {
  margin-top: global.$spacing-xs;
  font-size: global.$font-size-small;
  color: global.$text-muted;
}

.card {
  padding: global.$spacing-md;
  border-radius: global.$spacing-xs;
  background-color: global.$background-color;

  &:not(:last-child) {
    margin-bottom: global.$spacing-lg;
  }
}

.tracker-title {
  font-weight: bold;
  margin-bottom: global.$spacing-sm;
  display: flex;
  color: global.$primary-color;
  border-bottom: 1px solid global.$border-color;
  padding-bottom: global.$spacing-xs;
  align-items: center;
  justify-content: space-between;
}

.tracker-info {
  font-size: global.$font-size-small;
  color: global.$text-muted;
  margin-bottom: global.$spacing-sm;
}

.splinters-table {
  flex-direction: row;
  align-items: center;
  margin-bottom: global.$spacing-sm;
}

history {
  width: 100%;
  height: 100%;
  min-height: 80px;
}

.note-container {
  height: 100%;
  display: flex;
  border: 1px solid global.$border-dark;
  border-left: none;

  textarea,
  markdown {
    padding: 2px 5px;
    border: none;
    border-left: 1px solid global.$border-dark;
  }

  textarea {
    display: block;
    resize: none;
    width: -webkit-fill-available;
    height: 100%;
  }

  markdown {
    width: 100%;
  }
}

::ng-deep .popover-content {
  display: grid;
  flex-direction: column;
  grid-template-columns: max-content max-content max-content;
  row-gap: 4px;
  column-gap: 4px;
  align-items: stretch;

  .label {
    padding-right: 4px;
  }

  .value {
    text-align: right;
  }

  mat-divider {
    grid-column: span 3;
  }
}
