@use 'sass:color';
@use '../../../global.scss';

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.container {
  @include global.flex-container(row);
  width: 100%;
  height: 100%;
  background-color: global.$container-bg;
  padding: global.$spacing-lg;
  border-radius: global.$border-radius;

  .character-container {
    @include global.flex-container(column);
    padding-right: global.$spacing-md;
    border-right: 1px solid global.$border-color;
  }

  .side-container {
    padding-left: global.$spacing-md;
    width: 100%;
    display: flex;
    flex-direction: column;

    mat-button-toggle-group {
      border-radius: 10px 10px 0 0;
      border-bottom: 0;

      ::ng-deep
        .mat-button-toggle-appearance-standard
        .mat-button-toggle-label-content {
        padding: 0 8px;
      }
    }
  }
}

.top-row {
  margin-bottom: global.$spacing-md;
  padding-bottom: global.$spacing-md;
  border-bottom: 1px solid global.$border-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.character-name {
  font-size: 1.4em;
  font-weight: bold;
  color: global.$secondary-color;
}

.character-details {
  margin-top: global.$spacing-xs;
  font-size: global.$font-size-small;
  color: global.$text-muted;
}

.tracker {
  padding: global.$spacing-md;
  border-radius: global.$spacing-xs;
  background-color: global.$background-color;

  &:not(:last-child) {
    margin-bottom: global.$spacing-lg;
  }
}

.tracker-title {
  font-weight: bold;
  margin-bottom: global.$spacing-sm;
  display: flex;
  color: global.$primary-color;
  border-bottom: 1px solid global.$border-light;
  padding-bottom: global.$spacing-xs;
  align-items: center;
  justify-content: space-between;
}

.tracker-info {
  font-size: global.$font-size-small;
  color: global.$text-muted;
  margin-bottom: global.$spacing-sm;
}

.splinters-table {
  flex-direction: row;
  align-items: center;
  margin-bottom: global.$spacing-sm;
}

history {
  width: 100%;
  height: 100%;
  min-height: 80px;
}

.note-container {
  height: 100%;
  display: flex;
  border: 1px solid black;
  border-left: none;

  textarea,
  markdown {
    padding: 2px 5px;
    border: none;
    border-left: 1px solid black;
  }

  textarea {
    display: block;
    resize: none;
    width: -webkit-fill-available;
    height: 100%;
  }

  markdown {
    width: 100%;
  }
}
