@use 'sass:color';
@use 'global' as *;
@use '@angular/material' as mat;

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.container {
  @include flex-container(row);
  width: 100%;
  height: 100%;
  background-color: $container-bg;
  padding: $spacing-md;
  border-radius: $border-radius;

  .character-container .top-row {
    padding-bottom: $spacing-sm;
    margin-bottom: $spacing-md;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .action-container {
      height: 32px;
    }
  }

  .character-container,
  .middle-container {
    @include flex-container(column);
    padding-right: $spacing-md;
  }

  .middle-container {
    flex-basis: content;
    flex-shrink: 0;

    @include mat.fab-overrides(
      (
        small-container-color: white,
        small-hover-state-layer-opacity: 0,
        small-focus-state-layer-opacity: 0,
        small-foreground-color: $primary-color,
      )
    );

    .skill button {
      font-weight: bold;
    }
  }

  .side-container,
  .middle-container {
    padding-left: $spacing-md;
    border-left: 1px solid $border-color;
    display: flex;
    flex-direction: column;

    mat-button-toggle-group {
      border-radius: 10px 10px 0 0;
      border-bottom: 0;

      ::ng-deep
        .mat-button-toggle-appearance-standard
        .mat-button-toggle-label-content {
        padding: 0 8px;
      }
    }
  }

  .right-container {
    flex-grow: 1;

    .top-row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .credits-button {
        cursor: pointer;
        font-size: 1.2em;
        color: $text-muted;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.grid {
  display: flex;
  flex-flow: column;
  row-gap: 4px;
  flex-wrap: wrap;
  column-gap: 15px;
  justify-content: space-between;
  height: 100%;

  .skill-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    column-gap: 15px;

    .tracker-title {
      width: 100%;
      margin-bottom: 0;
    }

    &:not(:first-child) .tracker-title {
      margin-top: 5px;
    }
  }

  .flex-grow {
    flex-grow: 1;
  }
}

.character-name {
  font-size: 1.4em;
  font-weight: bold;
  color: $secondary-color;
}

.character-details {
  margin-top: $spacing-xs;
  font-size: $font-size-small;
  color: $text-muted;
}

.lp-buttons-container {
  display: flex;
  align-items: center;
}

.additional-regen-container {
  justify-content: center;
  width: 20px;
  height: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-top: 3.5px;
}

.card {
  padding: 10px 12px;
  border-radius: $spacing-xs;
  background-color: $background-color;

  &:not(:last-child) {
    margin-bottom: $spacing-md;
  }
}

.tracker-title {
  font-weight: bold;
  margin-bottom: $spacing-sm;
  display: flex;
  color: $primary-color;
  border-bottom: 1px solid $border-color;
  padding-bottom: $spacing-xs;
  align-items: center;
  justify-content: space-between;
}

.tracker-info {
  font-size: $font-size-small;
  color: $text-muted;
  margin-bottom: $spacing-sm;
}

.splinters-table {
  flex-direction: row;
  align-items: center;
}

history {
  width: 100%;
  height: 100%;
  min-height: 80px;
}

.note-container {
  display: flex;
  border: 1px solid $border-dark;
  border-left: none;
  overflow-y: auto;
  border-left: 1px solid $border-dark;
  height: 100%;

  textarea,
  markdown {
    padding: 2px 5px;
    border: none;
    overflow-y: auto;
  }

  textarea {
    display: block;
    resize: none;
    width: -webkit-fill-available;
    height: 100%;
  }

  markdown {
    width: 100%;
  }

  &.both markdown {
    border-left: 1px solid $border-dark;
  }
}

::ng-deep .popover-content {
  display: grid;
  flex-direction: column;
  grid-template-columns: max-content max-content max-content;
  row-gap: 4px;
  column-gap: 4px;
  align-items: stretch;

  .parts-row {
    display: contents;

    &.greyed-out {
      color: grey;
    }
  }

  .label {
    padding-right: 4px;
  }

  .value {
    text-align: right;
  }

  mat-divider {
    grid-column: span 3;
  }
}
