<div class="points-container" [style.width.px]="width()">
  @let total = char()[`max_${mode()}`];
  @for (_ of [].constructor(total); let i = $index; track i) {
    @let cls = getClass(i);
    @if (mode() === 'lp' && i % perRow() === 0) {
      <span
        class="dmg-mod"
        [class.active]="i > 0 && cls && !getClass(i + perRow())"
      >
        {{ -Math.floor(Math.pow(2, i / perRow() - 1)) }}
      </span>
    }
    <input
      type="checkbox"
      class="point-checkbox"
      [class]="cls"
      [class.margin-right]="(i % perRow()) % 5 === 4"
    />
  }
</div>

<div class="controls">
  <div class="input-group">
    <input
      #input
      type="text"
      class="point-input"
      [class.hidden]="mode() === 'splinters'"
      [value]="mode() === 'splinters' ? 1 : ''"
      (input)="error.set('')"
      (keydown.enter)="minus()"
      (keydown.shift.enter)="plus()"
      (keydown.control.enter)="convert_channeled()"
    />
    <button
      class="btn btn-icon damage"
      (click)="minus()"
      (contextmenu)="minus_channeled()"
      [matTooltip]="MINUS_TOOLTIP()"
      [disabled]="mode() === 'splinters' && char().free_splinters === 0"
    >
      <img src="assets/{{ mode() }}_minus.png" />
    </button>
    <button
      class="btn btn-icon heal"
      (click)="plus()"
      (contextmenu)="plus_channeled()"
      [matTooltip]="PLUS_TOOLTIP()"
      [disabled]="
        mode() === 'splinters' && char().free_splinters === char().max_splinters
      "
    >
      <img src="assets/{{ mode() }}_plus.png" />
    </button>
    @if (mode() === 'focus') {
      <button
        class="btn btn-icon convert-channeled"
        (click)="convert_channeled()"
        [matTooltip]="CONVERT_CHANNELED_TOOLTIP"
      >
        k->e
      </button>
    }
  </div>
</div>
@if (error()) {
  <div class="error">{{ error() }}</div>
}
