<div class="points-container">
  @let total = char()[`max_${mode()}`]();
  @for (_ of [].constructor(total); let i = $index; track i) {
    @if (mode() === 'lp' && i % perRow() === 0) {
      @let deduction = Math.floor(Math.pow(2, i / perRow() - 1));
      <span
        class="dmg-mod"
        [class.active]="i > 0 && char().wounded_deduction() === deduction"
      >
        {{ -deduction }}
      </span>
    }
    <input
      type="checkbox"
      class="point-checkbox"
      [class]="
        i < char()[`consumed_${mode()}`]()
          ? 'consumed'
          : i < char()[`consumed_${mode()}`]() + char()[`exhausted_${mode()}`]()
            ? 'exhausted'
            : i < char()[`used_${mode()}`]()
              ? 'channeled'
              : 'free'
      "
      [class.margin-right]="
        (i % perRow()) % 5 === 4 && i % perRow() !== perRow() - 1
      "
    />
  }
</div>

<div class="controls">
  <div class="input-group">
    <input
      #input
      type="text"
      class="point-input"
      [class.hidden]="mode() === 'splinters'"
      [value]="mode() === 'splinters' ? 1 : ''"
      (input)="error.set('')"
      (keydown.enter)="minus()"
      (keydown.shift.enter)="plus()"
      (keydown.control.enter)="convert_channeled()"
    />
    <button
      matMiniFab
      (click)="minus()"
      (contextmenu)="minus_channeled()"
      [matTooltip]="MINUS_TOOLTIP()"
      [disabled]="mode() === 'splinters' && char().free_splinters() === 0"
    >
      @if (mode() === 'splinters') {
        <mat-icon>remove</mat-icon>
      } @else {
        <img src="assets/{{ mode() }}_minus.png" />
      }
    </button>
    <button
      matMiniFab
      (click)="plus()"
      (contextmenu)="plus_channeled()"
      [matTooltip]="PLUS_TOOLTIP()"
      [disabled]="
        mode() === 'splinters' &&
        char().free_splinters() === char().max_splinters()
      "
    >
      @if (mode() === 'splinters') {
        <mat-icon>add</mat-icon>
      } @else {
        <img src="assets/{{ mode() }}_plus.png" />
      }
    </button>
    @if (mode() === 'focus') {
      <button
        matMiniFab
        (click)="convert_channeled()"
        [matTooltip]="CONVERT_CHANNELED_TOOLTIP"
      >
        <mat-icon fontSet="material-symbols">autostop</mat-icon>
      </button>
    }
  </div>
</div>
@if (error()) {
  <div class="error">{{ error() }}</div>
}
