:host {
  overflow-x: hidden;
}

.rtl {
  direction: rtl;
  text-align: left;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    margin-right: 5px;
  }
}
